.home-page{
    min-height:100vh;

    display:flex;
    align-items:center;
    justify-content:center;

    padding:70px;

    position:relative;
}


.home-page::before{
    content:"";
    position:absolute;
    inset:0;

    background-image:
        linear-gradient(rgba(255,255,255,.03) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,.03) 1px, transparent 1px);

    background-size:45px 45px;

    opacity:.2;
}

.hero-section{

    position:relative;

    display:grid;

    grid-template-columns:1.4fr .9fr;

    gap:90px;

    width:100%;
    max-width:1300px;
}

.hero-content{
    position:relative;
    z-index:2;
}

.hero-title{

    font-size:72px;

    line-height:1;

    color:white;

    text-transform:uppercase;

    letter-spacing:5px;

    margin-bottom:30px;

    animation:flicker 4s infinite;
}

.hero-title span{

    color:#7fffd4;

    text-shadow:
    0 0 10px #00ffd0,
    0 0 30px #00ffd0;
}

.hero-text{

    width:550px;

    color:#999;

    font-size:18px;

    line-height:1.8;

    margin-bottom:50px;
}

.hero-btn{

    display:inline-flex;

    align-items:center;

    gap:15px;

    text-decoration:none;

    color:white;

    padding:16px 35px;

    border:1px solid rgba(0,255,200,.4);

    transition:.4s;

    letter-spacing:2px;
}

.hero-btn:hover{

    background:#00ffd0;

    color:black;

    box-shadow:
    0 0 15px #00ffd0,
    0 0 35px #00ffd0;
}

.features-card{

    background:rgba(255,255,255,.03);

    border:1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(10px);

    padding:35px;

    position:relative;
}

.features-card::before{

    content:"SYSTEM";

    position:absolute;

    top:-10px;

    right:20px;

    color:#00ffd0;

    font-size:12px;

    letter-spacing:4px;
}

.features-card h2{

    margin-bottom:30px;

    color:white;

    font-size:24px;
}

.features-list{

    list-style:none;

    display:flex;

    flex-direction:column;

    gap:18px;
}

.features-list li{

    display:flex;

    gap:12px;

    color:#bdbdbd;

    transition:.3s;
}

.features-list li:hover{

    color:#7fffd4;

    transform:translateX(8px);
}

@keyframes flicker{

0%,18%,22%,55%,57%,100%{

opacity:1;

}

20%,24%,56%{

opacity:.35;

}

}