*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#050505;
    color:#d9d9d9;
    font-family:monospace;
    overflow-x:hidden;
}

body::before{
    content:"";
    position:fixed;
    inset:0;
    pointer-events:none;
    background:repeating-linear-gradient(
        to bottom,
        rgba(255,255,255,.02) 0px,
        rgba(255,255,255,.02) 1px,
        transparent 2px,
        transparent 4px
    );
    opacity:.25;
    z-index:999;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 60px;

    background:rgba(5,5,5,.85);

    border-bottom:1px solid rgba(0,255,180,.2);

    backdrop-filter:blur(6px);

    position:sticky;
    top:0;
    z-index:100;
}

.logo{
    text-decoration:none;
    color:#fff;

    font-size:24px;

    letter-spacing:5px;

    text-transform:uppercase;

    transition:.4s;
}

.logo:hover{
    color:#7fffd4;
    text-shadow:
        0 0 8px #00ffcc,
        0 0 20px #00ffcc;
}

.nav{
    display:flex;
    gap:25px;
    align-items:center;
}

.nav a{
    color:#bcbcbc;
    text-decoration:none;

    letter-spacing:2px;

    position:relative;

    transition:.3s;
}

.nav a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-5px;
    width:0;
    height:1px;
    background:#00ffd0;

    transition:.4s;
}

.nav a:hover{
    color:white;
}

.nav a:hover::after{
    width:100%;
}

.nav button{
    background:none;

    color:#9ee9d6;

    border:1px solid rgba(0,255,200,.3);

    padding:8px 18px;

    cursor:pointer;

    transition:.35s;

    font-family:inherit;
}

.nav button:hover{
    background:#00ffd0;
    color:black;

    box-shadow:0 0 18px rgba(0,255,200,.5);
}